@import '_theme';

body{
  font-family: $font-family-data;
  height:auto;
  font-size: 16px;
  color: $body-font-color;
  margin: 0px;
}
a{
  color: #6B6B6B;
}
.image-compare-tool {
  margin: 0 auto 0.8em 0;
  max-width: 100%;
  // width: 100%;
  z-index:999; /* The verge tries to do tricky things with embeds in the feature slot */
}
.image-compare-images {
  font-size: 0;
  position: relative;
  // height:100%; /* The verge tries to do tricky things with embeds in the feature slot */
  -ms-touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
.image-compare-images:hover {
  cursor: col-resize;
}

.image-compare-images img {
  display: block;
  height: auto;
  width: 100%;
}

.image-compare-top,
.image-compare-bottom {
  backface-visibility: hidden;
  z-index: 0;
  max-height:100%; /* The verge tries to do tricky things with embeds in the feature slot */
}

.image-compare-top {
  background-size: cover;
  object-fit: fill;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
}

.handle {
  height: 100%;
  right: -20px;
  width: 40px;
  position: absolute;
}

.handle:before, .handle:after {
  background-color: #fff;
  content: '';
  position: absolute;
}
.handle:before {
  left: 16.5px;
  top: 0;
  bottom:0;
  width: 5px;
}
.handle:after{
  height: 50px;
  left: 14px;
  top: 50%;
  top: calc( 50% - 25px );
  width: 10px;
}

.dark-bar {
  .handle:before, .handle:after {
    background-color: #474747;
  }
}

.image-compare-top img {
  display: none;
}
