<div class="app">
  <div class="image-compare-tool">
    <div class="image-compare-images">
      <div class="image-compare-bottom"><img src="http://placekitten.com/g/600/330"></div>
      <div class="image-compare-top"><img src="http://placekitten.com/600/330"></div>
    </div>
  </div>
</div>
