<div class="app">
  <div class="image-compare-tool">
    <div class="image-compare-images">
      <div class="image-compare-bottom">
      	<%= image_tag("product_placeholder.jpg", :alt => "Vox Product") %>
      </div>
      <div class="image-compare-top">
      	<%= image_tag("voxmedia_placeholder.jpg", :alt => "Vox Media") %>
      </div>
    </div>
  </div>
</div>
<div class="sources"></div>
