<div class="app">
  <div class="image-compare-tool">
    <div class="image-compare-images">
      <div class="image-compare-bottom">
      	<%= image_tag("generic_placeholder.jpg", :alt => "Slider Bottom Image") %>
      </div>
      <div class="image-compare-top">
      	<%= image_tag("generic_placeholder.jpg", :alt => "Slider Top Image") %>
        <div class="handle"></div>
      </div>
    </div>
  </div>
</div>
<div class="sources"></div>
