<div data-analytics-class="embed" id="<%=data.autotune.slug %>__graphic"></div>
<%=javascript_include_tag('pym') %>
<script type="text/javascript">
new pym.Parent('<%=data.autotune.slug %>__graphic', '<%=asset_url('/') %>', {xdomain: '.*\.voxmedia\.com'});
</script>
