<div id="<%= slug %>__graphic"></div>
<script type="text/javascript" src="<%= absolute_prefix + asset_path(:js, 'pym') %>"></script>
<script type="text/javascript">
new pym.Parent('<%= slug %>__graphic', '<%= absolute_page_url %>', {xdomain: '.*\.voxmedia\.com'});
</script>
